body {
    min-height: 100vh;
    height: 100%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

main {
    height: auto;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.Select-menu-outer {
    z-index: 500;
}

.stock-cards {
    box-sizing: border-box;
    margin-top: 50px;
    border: 1px solid #a7a7a7;
    box-shadow: 1px 1px 5px #3c3c3c;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 30px;
}

.stock-card {
    box-sizing: border-box;
    width: 47.5%;
}

.stock-card:nth-of-type(even){
    margin-left: 5%;
}

.ticker-wrap {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    height: 48px;
    background-color: #CCC;
    padding-left: 100%;
}

.ticker {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    padding-right: 100%;
}

.ticker.scrolling {
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 8000s;
    animation-duration: 8000s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ticker__item {
    display: inline-block;
    padding: 0 24px;
    font-size: 24px;
    color: black;
}

.ticker__item--details {
    display: flex;
    justify-content: space-around;
}

.ticker__item--details span+span {
    padding-left: 10px;
}

.ticker__item--symbol {
    color: navy;
    font-weight: 600;
}

.ticker__item--change.positive {
    color: green;
}

.ticker__item--change.negative {
    color: crimson;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}